* {
  border: white 1px solid;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #172b4d;
  color: white;
}

.app {
  display: grid;
  justify-content: center;
}

.header {
  text-align: center;
}

.formContainer {
  text-align: center;
}

.inputFields {
  display: flex;
}

.weightInput,
.heightInput {
  margin: 2rem;
}

.output {
  background-color: blue;
  text-align: center;
  border-radius: 5px;
}
